{% extends "user/base.html" %}
{% block title%}About us{% endblock %}
{% block content %}
<div class="container" style="padding-top: 20vh">
  <div class="row">
	  <div class="col-md-10 col-sm-6">
		  <div class="about-title clearfix">
				<h1>Thank you for visiting!</h1>
				<hr>
				<h2 style="color:red;">What is <span>Up-to-date?</span></h2>
				<h6>Up-to-date is a free and effective work management tool for individuals, helping you plan and manage time, streamline work, avoid stress, and always " flooded "during the deadline.</h6>
				<h3>Who are we?</h3>
				<h5>We are freshmen at Bauman Moscow State Technical University.</h5>
				<ul>
					<li>Ayjahan Meredova</li>
					<li>Pham Quang Anh</li>
					<li>Nguyen Phuoc Sang</li>
					<li>Gissane Tovmasyan</li>
					<li>Vo Dai Hoang Phuc</li>
				</ul>
				<h5>This is our first project about Web application.</h5>
        <p>Email : uptodate.iu.26b@gmail.com</p>
			</div>
		</div>
  </div>
</div>

{% endblock %}
