

hr {margin: 5px}

body {
  position: relative;
  min-height: 100vh;

}

footer {
  position: absolute;
  bottom: 0;
  margin-top: auto!important;
  padding-bottom: 1rem!important;
  font-family: 'Times New Roman';
}

input[type="file"] {
    display: none;
}

a {
  text-decoration: none !important;
}

.btn {
  border: 0;
  box-shadow: none !important;
}

.sidebar {
  min-height: 100vh;
  background-color: #d6d6d6;
  word-break: break-word;
}

.sticky-top {
  padding-top: 95px;
}

.album {
  padding-top: 95px;
}

.card {
  height: 150px;
  border-radius: 7px;
  background: #4d8096;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 16px;
}

.topright{
  position: absolute;
  top: 2px;
  right: 10px;
  color: black;
}

.custom-file-upload {
  border: 1px solid #4d8096;
  border-radius: 10%;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-dark {
  background-color: #303435;
}

.anchorjs-link {
  z-index: 5;
}

.close {
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 50%;
}

.card-body {
  padding: 10px;
}

.card-text {
  font-weight: bold;
  font-size: 24px;
  word-break: break-word;
  color: white;
}

#list_task {
  color: white;
  font-size: 22px;
  border-radius: 5px;
  font-family: arial;
  word-break: break-word;
}

#idtask {
  padding-top: 85px;
}

#time_project {
  margin-bottom: 1vh;
}

#cardAddProject {
  height: 150px;
  border-radius: 7px;
  background-color: #d6d6d6;
}

#noti-list {
  overflow-x: hidden;
  max-height: 70vh;
  width: 50vh;
}
