{% extends "main/base.html" %}

{% block content %}
<div class="container" style="margin-top:100px">
  <div class="row">
	  <div class="col-md-7 col-sm-6">
		  <div class="about-title clearfix">
		    <h1 style="color:red;">About us</h1>
        <h3 class="about-paddingB" style="color:green">You are welcomed by Up – To – Date team!</h3>
        <p class ="about-paddingB" style="color:black">We are students of Bauman Moscow State Technical University, group IU7-26B. Our site provides the ability to plan tasks, responsibilities of the user. The problem of competent planning is currently relevant.</p>
        <p class ="about-paddingB" style="color:black">We, inspired by the technology of S. M. A. R. T., decided to create a simple to use, but at the same time effective scheduler, which includes some of the properties of this famous technology. Up – To – Date scheduler allows you to collect each user task in separate boards and cards, control the frequency of sending notifications.</p>
        <p>To contact us: uptodate.iu.26b@gmail.com : uptodate.iu.26b@gmail.com</p>
        <h1 style="color:red;">Про нас</h1>
        <h3 class = "about-paddingB" style="color:green">Вас приветствует команда Up – To – Date!</h3>
        <p class = "about-paddingB" style="color:black">Мы студенты Московского государственного технического университета имени Н.Э. Баумана, группа ИУ7-26Б. Наш сайт предоставляет возможность планирования задач, обязанностей пользователя. Проблема грамотного планирования является актуальной в настоящее время</p>
        <p class = "about-paddingB" style="color:black">Мы, вдохновившись технологией S.M.A.R.T., решили создать несложного в использовании, но в то же время эффективного планировщика, включающий в себя некоторые свойства этой знаменитой технологии. Планировщик Up – To – Date позволяет собирать каждую задачу пользователя в отдельные доски и карточки, управлять частотой отправки уведомлений</p>
        <p>Связаться с нами: uptodate.iu.26b@gmail.com</p>
			</div>
		</div>
  </div>
</div>

{% endblock %}
