{% extends "main/base.html" %}

{% block content %}
<div class="container" style="margin-top:100px">
  <div class="row">
	  <div class="col-md-7 col-sm-6">
		  <div class="about-title clearfix">
		    <h1 style="color:blue;">Help</h1>
				<p class="about-paddingB" style="color:black">This site provides the user with a system of task management and planning . With the help of cards, boards and notification settings, the user can correctly allocate their duties, tasks and plans. The system of our site is easy to use, so there should be no special difficulties</p>
        <p>If you have any comments or suggestions about working our site, please contact us.</p>
        <p>Email : uptodate.iu.26b@gmail.com</p>
        <h1 style="color:blue;">Помощь</h1>
        <p ckass = "about-paddingB" style="color:black">Данный сайт предоставляет пользователю систему управления и планирования задач. При помощи карточек, досок и настроек уведомлений пользователь может грамотно распределить свои обязанности, задачи и планы.  Система работы нашего сайта прост в использовании, поэтому особых затруднений не должно возникнуть.</p>
        <p>Если будут замечания или пожелания по поводу работы нашего сайта, обращайтесь.</p>
        <p>Адрес электронной почты: uptodate.iu.26b@gmail.com</p>
			</div>
		</div>
  </div>
</div>

{% endblock %}
