{% extends 'registrations/base.html' %}

{% block title %}Set Password{% endblock %}

{% block content %}
<h1 class="card-title mt-3 text-center" style="color: #4D8096; font-size: 3em; font-family:freestyle script">Set a new password</h1>
{% if validlink%}
<form method="POST">
    {% csrf_token %}
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <div class="input-group-text"><i style="color: #4D8096" class="fa fa-lock"></i></div>
        </div>
        <input class="form-control" id="id_new_password1" minlength="8" type="password" name="new_password1" placeholder="New Password" required>
    </div>

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <div class="input-group-text"><i style="color: #4D8096" class="fa fa-lock"></i></div>
        </div>
        <input class="form-control" id="id_new_password2" minlength="8" type="password" name="new_password2" placeholder="Confirm" required>
    </div>
	{% for field in form %}
		{% for error in field.errors %}
			<p style="color: #4D8096">
				{{error}}
			</p>
		{% endfor%}
	{% endfor %}
	<div class="form-group">
        <button type="submit" class="btn btn-block" style="background-color:#4D8096; color:white">Send</button>
		</div>
</form>
{% else%}
    <p>
		The password reset link was invalid, possibly because it has already been used.
		Please request a new password reset.
	</p>
{% endif %}
{% endblock %}